<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authors</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dash-monitor.css') }}">
</head>
<body>
    <div class="top-header container-fluid">
        <a href="https://www.triumf.ca/"><img src="../../static/img/triumf-trans-white.png" id="logo"></a>
        
  </div>
    <h1 id="title">Creators</h1>
    <table id="table-data" class="table table-striped styled-table" border=1 frame=void rules=rows>
        <thead class="thead-dark">
            <th>Name</th>
            <th>Email</th>
        </thead>
        <tbody>
        
        <tr class="data-row">
            <td class="elem">Jeffrey Wang</td>
            <td class="elem" id="reading">jwang536@my.bcit.ca</td>
        </tr>
        <tr class="data-row">
            <td class="elem">Rahadian Irman</td>
            <td class="elem" id="reading">rirman@my.bcit.ca</td>
        </tr>
       
        </tbody>
    </table>
</body>
</html>