<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Dashboard</title>
</head>
<body>
    <h1>Dashboard Creation</h1>
    <form id='post-form' method = "POST">
        <label for = "pv-input"></label>
        <input type="text" name = "pv-input" id ="post-input" required placeholder="Add New PV"/>
        <br>
        <br>
        <div class="login-btns">
            <input type = "submit" value = "Add PV" id="input-btn"/>
        </div>
    </form>
</body>
</html>