<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/create.css') }}">
    <script src="../../static/js/create.js"></script>
</head>
<body>
    <div class="flex-mid">
        <h1>Dashboard Creation</h1>
        <form method="POST" id="create-dash">
         
            <input type="text" name="dash-name" placeholder="Dashboard Name">
            <input type="text" name="pv-address" placeholder="Process Variable">
        </form>
        <button onclick="addPV()">Add Process Variable</button>
    </div>
</body>
</html>