<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dash-home.css') }}">
    <script>
        let img = document.getElementById("img-trans");
        let nav = document.getElementById('nav-elem');
        nav.addEventListener('click', function(){
            let 
        })
            
    </script>
</head>
<body>
    <div class="top-header">
        <a href="https://www.triumf.ca/" id="left-flex"><img src="../../static/img/triumf-trans-white.png" id="logo"></a>
        <div class="flex-row">
            <div class="right-flex" id="flex-right dash-name"><h2>{{ dashboard_name.capitalize() }}'s Dashboard</h2></div>
            <div class="view-pv"><a href="/monitor/{{dashboard_name}}" class="a-none">Monitor Dash</a></div>

        </div>
        
        <img onclick="displayMenu()" src="../../static/img/toppng.com-menu-icon-png-3-lines-1024x1024.png" class="right-flex" id="img-trans" />
    </div>
    <!-- <div class="button">
        <div class="flex-right"><a href="/" id="logout">Logout</a></div>
        <div class="flex-right"><a href="/dashboard" id="dash-change">Change Dashboard</a></div>
        <div class="flex-right"><a href="/dashboard/delete/{{dashboard_name}}" id="delete" onclick="return confirm('Are you sure you want to delete this dashboard?')">Delete Dashboard</a></div>
        <div class="flex-right"><a href="/dashboard/rename/{{dashboard_name}}" id="rename">Rename Dashboard</a></div>
        <div class="flex-right"><a href="/monitor/{{dashboard_name}}" id="monitor">Monitor PVs</a></div>
    </div> -->
    <div class="flex-mid">
        
        <div id="nav-elem">
            <a href="/dashboard" id="dash-change">Change Dashboard</a>
        </div>
        <h1 id="title">{{ dashboard_name }}'s Dashboard</h1>
        <table id="table-data" class="table table-striped styled-table" border=1 frame=void rules=rows>
            <thead class="thead-dark">
                <th>Process Variable</th>
                <th>Action</th>
            </thead>
            <tbody>
            {% if data %}
            {% for pv in data["readPvDict"] %}
            <tr>
                <td class="elem">{{ pv }}</td>
                <td class="elem delete-btn"><a href="/delete/{{dashboard_name}}/{{pv}}" onclick="return confirm(`Are you sure you want to delete this PV?`)">Remove</a></td>
            </tr>
            {% endfor %}
            {% endif %}
            </tbody>
        </table>
        <form id='post-form' method = "POST">
            <label for = "pv-input"></label>
            <input type="text" name = "pv-input" id ="post-input" required placeholder="Add New PV"/>
            <br>
            <br>
            <div class="login-btns">
                <input type = "submit" value = "Add PV" id="input-btn"/>
            </div>
        </form>
    </div>
</body>
</html>
