<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/error.css') }}">
    <title>Error</title>
</head>
<body>
    <div class="flex-mid">
        <h1>Error: Not Logged In</h1>
        <img src="/static/img/lock-512.png" id="lock">
        <button><a href='/'>Please Login Here</a></button>
    </div>
    
</body>
</html>